<mat-card>
  <mat-card-title>
    jwt login
  </mat-card-title>

  <div class="cardbody flex-container">
    <div>
      <input matInput placeholder="username" type="text" name="email" #email />
    </div>
    <div>
      <input matInput placeholder="password" type="password" name="password" #password />
    </div>
    <div>
      <button (click)="login(email,password)" color="primary" mat-raised-button matTooltip="emailアドレスでログインします。認証情報はFireStoreにあります。"
        matTooltipPosition="right">
        Register
      </button>
    </div>
  </div>
</mat-card>