<h3 class="component-title">switch component
</h3>


<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" [class.active]="viewMode=='one'" href="javascript:void(0)" (click)="changeMode('one')">one</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active ':viewMode=='two'}" href="javascript:void(0)" (click)="changeMode('two')">two</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active ':viewMode=='three'}" href="javascript:void(0)" (click)="changeMode('three')">three</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active ':viewMode=='four'}" href="javascript:void(0)" (click)="changeMode('four')">four</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active ':viewMode=='five'}" href="javascript:void(0)" (click)="changeMode('five')">five</a>
  </li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'one'">
    <ng-content select=".tab1"></ng-content>
  </div>
  <div *ngSwitchCase="'two'">
    <ng-content select=".tab2"></ng-content>
  </div>
  <div *ngSwitchCase="'three'">
    <ng-content select=".tab3"></ng-content>
  </div>
  <div *ngSwitchCase="'four'">
    <ng-content select=".tab4"></ng-content>
  </div>
  <div *ngSwitchCase="'five'">
    <ng-content select=".tab5"></ng-content>
  </div>
  <div *ngSwitchDefault>this is default content</div>
</div>

