<span class="glyphicon glyphicon-star"></span>
xxx<i class="navbar-toggler-icon fa fa-bars"> </i>
<i class="navbar-toggler-icon fa fa-bars"> </i>
<i class="navbar-toggler-icon fa fa-bars"> </i>


<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false">

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
  </div>


dddd