<mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    Inverness
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container" [hasBackdrop]="false" autosize>
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'side' : 'side'"
      [opened]="true" [fixedInViewport]="false">
  
  
   <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                
                Experiments
              </mat-panel-title>
            </mat-expansion-panel-header>
                <mat-nav-list>
                  <a mat-list-item routerLinkActive="active current" routerLink="auth" >
                     <mat-icon>settings</mat-icon>
                     &nbsp;ログイン
                  </a>
                  <a mat-list-item routerLink="followers" > 
                    <mat-icon>settings</mat-icon>
                  Stack overflow API</a>
                  <a mat-list-item routerLink="md-forms" >forms</a>
                  <a mat-list-item routerLink="responsive" >
                    <mat-icon>settings</mat-icon>
                    responsive</a>
                  <a mat-list-item routerLink="bootstrap" ><mat-icon>settings</mat-icon>
                  bootstrap</a>
                </mat-nav-list>
          </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Firebase
            </mat-panel-title>
          </mat-expansion-panel-header>
              <mat-nav-list>
                <a mat-list-item routerLink="courses" >Firebase登録
                </a>
                <a mat-list-item routerLink="courses" >Firebase検索</a>
              </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              グリッド関連
            </mat-panel-title>
          </mat-expansion-panel-header>
              <mat-nav-list>
                <a mat-list-item routerLink="." >Grid CRUD</a>
                <a mat-list-item routerLink="." >Grid検索</a>
              </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Admin area
            </mat-panel-title>
          </mat-expansion-panel-header>
              <mat-nav-list>
                <a mat-list-item routerLink="." >システム設定変更</a>
                <a mat-list-item routerLink="." >ユーザ情報編集</a>
              </mat-nav-list>
        </mat-expansion-panel>
  
  
      <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am 
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      
      <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
  
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>   
    </mat-sidenav>
  
    <mat-sidenav-content>
      こんにちは。dsfdsfsdfsdfsdfdsf
      これはメッセージです。
     
      
  
  
      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>


  