/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/*@import "~font-awesome/css/font-awesome.css";*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body{
    height: 100%;
}

body { 
    font-family: 'Roboto, Arial, sans-serif,-apple-system,Segoe UI,Helvetica Neue,Hiragino Kaku Gothic ProN,"メイリオ",meiryo,sans-serif';
    margin: 0;
  }

.component-title{
    color :gray
}